@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'century-gothic';
  src: url('/src/assets/fonts/Century\ Gothic.ttf'),format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    background-color: #111111;
}

