@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'century-gothic';
  src: url('/public/fonts/Century\ Gothic.ttf'),
  
 
}
body{
    background-color: #111111;
}

